@font-face {
    font-family: "space";
    src: url("../asset/space.woff2");
}

body {
    margin: 0;
    padding: 0;
}

div {
	font-family: "space";
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}