.header {
	display: flex;
	height: calc(100vh - 26px);
}

.title {
	display: flex;
	width: 100%;
	margin: auto;
}

.title > img {
	height: 16rem;
	width: 16rem;
	border-radius: 4rem;
	margin-right: 2rem;
}

.title > div {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.title h6 {
	margin-top: 0rem;
}