@import url('header.css');
@import url('progressbar.css');
@import url('navigation.css');

html {
	scroll-behavior: smooth;
}

.preloader {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	margin: 0;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: saturate(180%) blur(10px);
	display: flex;
    justify-content: center;
    align-items: center;
}

section {
	min-height: calc(100vh - 26px);
}

section > h2 {
	padding-top: 2rem;
}

footer {
	text-align: center;
}